jobs:
- job: linux
  pool: {vmImage: 'Ubuntu-16.04'}
  steps:
    - task: UsePythonVersion@0
    - bash: |
        python -m pip install --upgrade pip
        pip install wheel
        python setup.py bdist_wheel
    - task: PublishBuildArtifacts@1
      inputs: {pathtoPublish: 'dist'}